<!DOCTYPE html>

<html>
    <head>
        <title>Add Your Plans</title>
        <style>
                .success { 
                    margin-left: 25px;
                }
    
                .error {
                    margin-left: 25px;
                }
            </style>
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = {% static 'exam_app/css/exam.css' %}>
    </head>
    <body>
        <div id = 'wrapper'>
            <div id = 'head_nav'>
                <h1 class = 'head_nav_welcome'>Add a Trip!</h1>
                <form class = 'head_nav_form' action = '/travels'>
                    <input class = 'buttons' type = "submit" value = "Home">
                </form>
                <form class = 'head_nav_form_with_home' action = '/logout' method = 'POST'>
                    {% csrf_token %}
                    <input class = 'buttons' type = "submit" value = "Log Out">
                </form>
            </div>
            <div id = 'your_trip_schedule'>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h1>New Trip Schedule:</h1>
                <form action = '/process_add' method = 'POST'>
                    {% csrf_token %}
                    <p>Destination: <input type = "text" name = "destination"></p>
                    <p>Brief Travel Plans: <input type = "text" name = "plan"></p>
                    <p>Travel Date From: <input type = "text" name = "start_date" placeholder = 'month-day-year'></p>
                    <p>Travel Date To: <input type = "text" name = "end_date" placeholder = 'month-day-year'></p>
                    <input class = 'big_add' type = "submit" value = "Add">
                </form>
            </div>
        </div>
    </body>
</html>