<!DOCTYPE html>
<html>
    <h1>New Dojo</h1>
    <form action = '/dojos/create' method = 'POST'>
        <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
        Branch: <input type = "text" name = "dojo[branch]">
        Street: <input type = "text" name = "dojo[street]">
        City: <input type = "text" name = "dojo[city]">
        State: <input type = "text" name = "dojo[state]">
        <input type = "submit" value = "create">
    </form>

    <a href="/dojos/new">New Dojo</a>
</html>