<!DOCTYPE html>

<html>
    <head>
        <title>Ninja Money</title>
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'gold.css')}}">
    </head>
    <body>
        <div id = "wrapper">
            <div class = "current_gold">
                <h4>Your Gold: <span>{{current_gold}}</span></h4>
            </div>
            <div class = "containers">
                <h1>Farm</h1>
                <p>(Earns 10-20 golds)</p>
                <form action = '/process' method = 'POST'>
                    <input type = "hidden" name = "building" value = "farm">
                    <input type = "submit" value = "Find Gold!">
                </form>
            </div>
            <div class = "containers">
                <h1>Cave</h1>
                <p>(Earns 5-10 golds)</p>
                <form action = '/process' method = 'POST'>
                    <input type = "hidden" name = "building" value = "cave">
                    <input type = "submit" value = "Find Gold!">
                </form>
            </div>
            <div class = "containers">
                <h1>House</h1>
                <p>(Earns 2-5 golds)</p>
                <form action = '/process' method = 'POST'>
                    <input type = "hidden" name = "building" value = "house">
                    <input type = "submit" value = "Find Gold!">
                </form>
            </div>
            <div class = "containers">
                <h1>Casino</h1>
                <p>(Earns/takes 0-50 golds)</p>
                <form action = '/process' method = 'POST'>
                    <input type = "hidden" name = "building" value = "casino">
                    <input type = "submit" value = "Find Gold!">
                </form>
            </div>
            <h3>Activities:</h3>
            <div class = "activities">
                <!-- if earn gold = print earned {{earning}} from the {{location}}! {{time}}
                else = print Entered a casino and lost {{earning}} golds... Ouch.. {{time}} -->

                {% if new_move == True and earning >= 0 %}
                    <p>Earned {{earning}} golds from the {{location}}! {{time}}</p>
                {% elif new_move == True and earning < 0 %}
                    <p>Entered a casino and lost {{earning}} golds... Ouch.. {{time}}</p>
                {% endif %}
            </div>

            <form action = '/clear' method = 'POST'>
                <input class = "start_over" type = "submit" value = "Start Over!">
            </form>
        </div>
    </body>
</html>