<!DOCTYPE html>
<html>
    <head>
        <title>Edit User {{number}}</title>
    </head>
    <body>
        <h1>Edit User {{number}}</h1>
        <form action = '/users/{{number}}' method = 'POST'>
            {% csrf_token %}
            <p>First Name: <input type = "text" name = "first_name"></p>
            <p>Last Name: <input type = "text" name = "last_name"></p>
            <p>Email: <input type = "text" name = "email"></p>
            <input type = "submit" value = "Update">
        </form>
        <form action = '/users'>
            <input type = "submit" value = "Go back">
        </form>
    </body>
</html>