<h1>SIGN IN</h1>

<form action = '/process_user' method = 'POST'>
    <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
    <input type = 'text' placeholder = 'username' name = 'username'>
    <input type = "submit" value = "Sign In / Register If New">
</form>