<!DOCTYPE html>

<html>
    <head>
        <title>Delete a course</title>
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <p>Name: {{course.name}}</p>
        <p>Course Description: {{course.desc}}</p>

        <form style = "display: inline-block; margin-right: 20px;" action = '/courses'>
            <input style = "background-color: lightgrey; border: 1px solid black;" type = "submit" value = "NO">
        </form>
        <form style = "display: inline-block; vertical-align: top;" action = '/courses/remove/{{course.id}}' method = 'POST'>
            {% csrf_token %}
            <input style = "background-color: red; border: 1px solid black;" type = "submit" value = "Yes! I want to delete this!">
        </form>
    </body>
</html>
