<h1>Secrets</h1>

<% @secrets.each do |s| %>
    <p><%= s.content %> <span style ="margin-left: 60px;display: inline-block;">
        <%= @count %> Likes
    </span>
        <form style = "display:inline-block; vertical-align: top;" action = '/secrets' method = 'POST'>
            <input type = "hidden" name = "secret_id" value = "<% s.id %>">
            <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
            <input type = "submit" value = "Like">
        </form>
    </p>
    <% if s.user.id == current_user.id %>
        <form>
            <input type = "submit" value = "Delete">
        </form>
    <% end %>

<% end %>