<!DOCTYPE html>

<html>
    <head>
        <title>Great Number Game</title>
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>

        <form action = '/process' method = 'POST'>
            <input type = 'text' name = 'number' placeholder = 'guess!'>
            <input type = 'submit' value = 'Submit'>
        </form>
        {% if correct == "correct" %}
            <div id = "container">
                <h1>Correct!</h1>
                <form action = '/clear' method = 'POST'>
                    <input type = 'submit' value = 'Play Again!'>
                </form>
            </div>
        {% elif correct == "low" %}
            <div id = "container">
                <h1>Too Low!</h1>
            </div>
        {% elif correct == "high" %}
            <div id = "container">
                <h1>Too High!</h1>
            </div>
        {% endif %}
    </body>
    <!-- Very busy and lazy to add css for div id = container ;D -->
</html>